div, label, input, button, form, span, a {
  box-sizing : border-box !important;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button.nav-btn {
  width: 64px;
  height: 40px;
  border-radius: 2px;
  background-color: #2f333d;
  margin: 0 5px;
}

button.nav-btn--small {
  width: 40px;
}

button.nav-btn--large {
  width: auto;
}

button.nav-btn--blue {
  background-color: #0071DF;
}

button.nav-btn--green {
  background-color: #03a87c;
}

button.nav-btn--mid-dark {
  background-color: #21252b;
}

button.nav-btn--dark {
  background-color: #181A1F;
}

button.nav-btn--grey {
  background-color: #5E656F;
}

button.nav-btn--account {
  border-radius: 20px;
  background-color: #5E656F;
}

button.nav-btn--active {
  background-color: #0071DF;
}

span.icon {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: #9ca5b4;
}

span.icon-menu {
  mask: url('../assets/menu.svg') no-repeat center center;
}

span.icon-close {
  mask: url('../assets/close.svg') no-repeat center center;
}

span.icon-new {
  mask: url('../assets/new.svg') no-repeat center center;
}

span.icon-stack {
  mask: url('../assets/stack.svg') no-repeat center center;
}

span.icon-screenshot {
  mask: url('../assets/screenshot.svg') no-repeat center center;
}

span.icon-upload {
  mask: url('../assets/upload.svg') no-repeat center center;
}

span.icon-view {
  mask: url('../assets/visible.svg') no-repeat center center;
}

span.icon-collection {
  mask: url('../assets/collection.svg') no-repeat center center;
}

span.icon-text, span.icon-TextTool {
  mask: url('../assets/text.svg') no-repeat center center;
}

span.icon-arrow, span.icon-ArrowTool {
  mask: url('../assets/arrow.svg') no-repeat center center;
}

span.icon-line, span.icon-LineTool {
  mask: url('../assets/line.svg') no-repeat center center;
}

span.icon-rectangle, span.icon-RectangleTool {
  mask: url('../assets/rectangle.svg') no-repeat center center;
}

span.icon-oval, span.icon-EllipseTool {
  mask: url('../assets/oval.svg') no-repeat center center;
}

span.icon-blur, span.icon-BlurTool {
  mask: url('../assets/blur.svg') no-repeat center center;
}

span.icon-pen, span.icon-PenTool {
  mask: url('../assets/pen.svg') no-repeat center center;
}

span.icon-highlighter, span.icon-HighlightTool {
  mask: url('../assets/highlighter.svg') no-repeat center center;
}

span.icon-insert-image {
  mask: url('../assets/insert-image.svg') no-repeat center center;
}

span.icon-crop, span.icon-CropTool {
  mask: url('../assets/crop.svg') no-repeat center center;
}

span.icon-link {
  mask: url('../assets/link.svg') no-repeat center center;
}

span.icon-copy {
  mask: url('../assets/copy.svg') no-repeat center center;
}

span.icon-download {
  mask: url('../assets/download.svg') no-repeat center center;
}

span.icon-export {
  mask: url('../assets/export.svg') no-repeat center center;
}

span.icon-duplicate {
  mask: url('../assets/duplicate.svg') no-repeat center center;
}

span.icon-unlocked, span.icon-public {
  mask: url('../assets/unlocked.svg') no-repeat center center;
}

span.icon-locked, span.icon-private {
  mask: url('../assets/locked.svg') no-repeat center center;
}

span.icon-question {
  mask: url('../assets/question.svg') no-repeat center center;
}

span.icon-delete {
  mask: url('../assets/delete.svg') no-repeat center center;
  background-color: #5E656F;
}

span.icon-share {
  mask: url('../assets/share.svg') no-repeat center center;
}

span.icon-add {
  mask: url('../assets/add.svg') no-repeat center center;
}

span.icon-open {
  mask: url('../assets/open.svg') no-repeat center center;
}

span.icon-back {
  mask: url('../assets/back.svg') no-repeat center center;
}

span.icon-backward {
  mask: url('../assets/backward.svg') no-repeat center center;
}

span.icon-forward {
  mask: url('../assets/forward.svg') no-repeat center center;
}

span.icon-front {
  mask: url('../assets/front.svg') no-repeat center center;
}

span.icon-next {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: #fff;
  mask: url('../assets/next.svg') no-repeat center center;
}

span.icon-previous {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: #fff;
  mask: url('../assets/previous.svg') no-repeat center center;
}

span.icon-dropdown {
  mask: url('../assets/dropdown.svg') no-repeat center center;
  width: 24px;
  min-width: 24px;
}

span.icon-account {
  mask: url('../assets/user.svg') no-repeat center center;
}

span.icon-team {
  mask: url('../assets/team.svg') no-repeat center center;
}

span.icon-settings {
  mask: url('../assets/settings.svg') no-repeat center center;
}

span.icon-star {
  mask: url('../assets/star.svg') no-repeat center center;
}

button.nav-btn--star--active span.icon-star {
  mask: url('../assets/star-filled.svg') no-repeat center center;
  background-image: linear-gradient(to bottom right,#FCD117,#FF377C 67%);
  background-color: #FF377C;
}

span.icon-log-out {
  mask: url('../assets/log-out.svg') no-repeat center center;
}

span.icon-more {
  mask: url('../assets/more.svg') no-repeat center center;
  background-color: #5E656F;
}

span.icon-line1 {
  mask: url('../assets/line-1.svg') no-repeat center center;
}

span.icon-line2 {
  mask: url('../assets/line-2.svg') no-repeat center center;
}

span.icon-line3 {
  mask: url('../assets/line-4.svg') no-repeat center center;
}

span.icon-line4 {
  mask: url('../assets/line-8.svg') no-repeat center center;
}

span.icon-line5 {
  mask: url('../assets/line-16.svg') no-repeat center center;
}

span.icon-line6 {
  mask: url('../assets/line-32.svg') no-repeat center center;
}

span.icon-line-null {
  mask: url('../assets/size.svg') no-repeat center center;
  -webkit-mask-position-x: 9px;
}

span.tool-null, span.icon-ImageTool {
  mask: url('../assets/tool.svg') no-repeat center center;
  -webkit-mask-position-x: 9px;
}

span.color {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: #9ca5b4;
  mask: url('../assets/color-widget.svg') no-repeat center center;
}

span.color-null {
  mask: url('../assets/color.svg') no-repeat center center;
  -webkit-mask-position-x: 9px;
}

span.color1 {
  background-color: #000;
}

span.color2 {
  background-color: #545454;
}

span.color3 {
  background-color: #ABABAB;
}

span.color4 {
  background-color: #fff;
}

span.color5 {
  background-color: #4285F5;
}

span.color6 {
  background-color: #2ED355;
}

span.color7 {
  background-color: #FCD117;
}

span.color8 {
  background-color: #F7931F;
}

span.color9 {
  background-color: #EF4037;
}

span.color10 {
  background-color: #CD42B3;
}

span.color11 {
  background-color: #8E42CD;
}

span.icon-BlurTool {
  background-color: #9CA5B4;
}

span.color-gradient {
  background-image: linear-gradient(to bottom right,#FCD117,#FF377C 67%);
  background-color: #FF377C;
}

span.notification-gradient {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 3px;
  background-image: linear-gradient(to bottom right,#FCD117,#FF377C 67%);
  background-color: #FF377C;
}


span.nav-text--gradient {
  background-image: linear-gradient(to bottom right,#FCD117,#FF377C 67%);
  background-color: #FF377C;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (hover: hover) {
  button.dropdown-item:hover span.nav-text--gradient {
    -webkit-text-fill-color: #fff;
  }
}

span.icon-undo {
  mask: url('../assets/undo.svg') no-repeat center center;
}

span.icon-redo {
  mask: url('../assets/redo.svg') no-repeat center center;
}

button.nav-btn--blue span.icon, button.nav-btn--active span.icon {
  background-color: #fff;
}

button.white-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  background-color: #fff;
  color: #181A1F;
  text-decoration: none;
  border-radius: 4px;
}

@media (hover: hover) {
  button.white-btn:hover {
    color: #fff;
  }
}

span.drive-logo {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url("../assets/google-drive-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

span.nav-text {
  font-size: 13px;
  line-height: 15px;
  color: #9ca5b4;
  text-align: left;
  font-weight: 700;
  margin-right: 12px;
  white-space: nowrap;
}

span.nav-text--even {
  margin: 0 12px;
}

button.nav-btn--red {
  background-color: #FF7A59;
}

button.nav-btn--red span.icon-delete {
  background-color: #fff;
}

button.nav-btn--active span.nav-text, button.nav-btn--blue span.nav-text, button.nav-btn--green span.nav-text {
  color: #fff;
}

button.nav-btn--account span.nav-text {
  margin: 0;
  display: block;
  color: #fff;
  text-align: center;
}

div.dropdown {
  position: relative;
}

div.dropdown-menu {
  background-color: #181A1F;
  margin: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 0;
  width: max-content;
  overflow: hidden;
  z-index: 500;
}

div.dropdown-menu--left {
  left: 0;
}

div.dropdown-menu--left-twelve {
  margin-top: 17px;
  left: -12px;
}

div.dropdown-menu--up {
  bottom: 40px;
}

div.dropdown-menu--offset {
  left: -70px;
}

div.dropdown-menu--offset button.dropdown-item {
  padding-left: 12px;
}

div.dropdown-menu--colors {
  width: 160px;
  flex-direction: row;
  flex-wrap: wrap;
}

button.dropdown-item {
  justify-content: left;
}

div.dropdown-menu hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #282C34;
  margin: 0;
}

span.icon-more {
  background-color: #9CA5B4;
}

span.icon-delete {
  background-color: #9CA5B4;
}

button.dropdown-item--red span.nav-text {
  color: #FF7A59;
}

button.dropdown-item--red span.icon-delete {
  background-color: #FF7A59;
}

div.dropdown-menu--multi {
  width: auto;
}

div.dropdown-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

div.dropdown-menu--multi hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #282C34;
  margin: 0;
}

button.dropdown-group--six {
  margin: 5px;
  width: calc((100% - 60px)/6);
  border-radius: 2px;
}

button.dropdown-group--ten {
  margin: 5px;
  width: calc((100% - 100px)/10);
  border-radius: 2px;
}

button.dropdown-group--done {
  margin: 5px;
  height: 40px;
  width: calc(100% - 10px);
  border-radius: 2px;
  background-color: #282C34;
}

button.dropdown-group--done span.nav-text {
  margin: 0;
  text-align: center;
}

a.dropdown-item--text {
  display: block;
  height: 40px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #9CA5B4;
  text-decoration: none;
}

@media (hover: hover) {
  a.dropdown-item--text:hover {
    color: #fff;
    background-color: #0071df;
  }
}

div.tooltip-wrapper {
  position: relative;
  margin: 0 5px;
}

div.tooltip-wrapper-rr {
  margin-right: 0;
}

div.tooltip-wrapper-rl {
  margin-left: 2px;
}

div.nav-multi-page div.tooltip-wrapper {
  margin: 0;
}

div.tooltip-wrapper button.nav-btn {
  margin: 0;
}

span.tooltip {
  visibility: hidden;
  background-color: #181A1F;
  color: #9CA5B4;
  text-align: center;
  border-radius: 2px;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

span.tooltip--above {
  top: -45px;
}

span.tooltip span.shortcut {
  color: #5E656F;
}

span.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #181A1F transparent;
}

span.tooltip--above::after {
  top: 100%;
  border-color: #181A1F transparent transparent transparent;
}

@media (hover: hover) {
  div.tooltip-wrapper:hover span.tooltip {
    visibility: visible;
  }

  button:hover {
    background-color: #0071DF;
  }

  button:hover span.icon, button:hover span.color-null {
    background-image: none;
    background-color: #fff;
  }

  button:hover span.nav-text {
    color: #fff;
  }
}

a.page-number {
  flex-grow: 1;
  height: 40px;
  display: block;
  padding-left: 12px;
  font-size: 13px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #9CA5B4;
}

.full-size-html {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

div.vue-tags-input {
  background-color: transparent !important;
  max-width: 100% !important;
}

div.vue-tags-input div.ti-new-tag-input {
  background-color: transparent !important;
  color: #9CA5B4 !important;
}

div.vue-tags-input div.ti-input {
  padding: 0 !important;
  border: 1px solid #5E656F !important;
  border-radius: 2px !important;
}

li.ti-tag {
  height: 32px !important;
  margin: 3px !important;
  padding: 0 0 0 16px !important;
  border-radius: 2px !important;
  font-size: 13px !important;
  line-height: 20px !important;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #0071df !important;
}

div.ti-actions {
  height: 32px !important;
  width: 32px !important;
  margin-left: 0 !important;
  flex-shrink: 0 !important;
}

div.ti-actions i.ti-icon-close {
  height: 32px !important;
  width: 32px !important;
  mask: url('../assets/close.svg') no-repeat center center !important;
  mask-size: 25% !important;
  background-color: #fff !important;
}

div.ti-actions i.ti-icon-close::before {
  content: none !important;
}

li.ti-new-tag-input-wrapper {
  height: 32px !important;
  margin: 3px !important;
  padding: 0 0 0 11px !important;
}

input.ti-new-tag-input {
  color: #9CA5B4 !important;
  background-color: transparent !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
}

input.ti-new-tag-input::placeholder {
  color: #5E656F !important;
  opacity: 1 !important;
}

div.ti-autocomplete {
  max-height: 200px !important;
  background-color: #181A1F !important;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  border: none !important;
  border-radius: 2px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

div.ti-autocomplete::-webkit-scrollbar {
  width: 10px;
}

div.ti-autocomplete::-webkit-scrollbar-thumb {
  background: #5E656F;
  border-radius: 5px;
}

li.ti-selected-item {
  background-color: #0071df !important;
}

li.ti-item div {
  padding: 12px 16px !important;
  font-size: 13px !important;
  line-height: 16px !important;
  font-weight: 700 !important;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }